@model IEnumerable<TI_Projekt.Models.PhotoModel>

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
    <br />
    <h2>Formularz dodawania nowej wędrówki</h2>
    <br />
</div>
<div class="container py-4">
    <div class="row">
        <div class="modal fade" id="UploadPhoto">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Załaduj zdjęcie</h4>
                        <button type="button" class="close" data-dismiss="modal">×</button>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm("AddPhoto", "Form", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="form-group">
                                <label>Wybierz plik:</label>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" accept="image/*" id="fileupload" name="fileupload" class="custom-file-input" />
                                        <label class="custom-file-label"></label>
                                        <input type="hidden" id="Id" name="Id" value="@Convert.ToInt32(Request.QueryString["Id"])" />
                                    </div>
                                    <div class="input-group-append">
                                        <input type="submit" id="btnUpload" class="btn btn-secondary" value="Upload" />
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Zamknij</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">

            <div class="col-12 text-center">
                <h1 class="font-weight-light mt-0 mb-3">Galeria</h1>
                <hr class="mt-2 mb-2">
            </div>

            <div class="row">
                @if (Model.Count() < 6)
                {
                    <div class="col-12 text-center">
                        <button type="button" class="btn btn-light m-2 rounded-2 align-content-center" data-toggle="modal" data-target="#UploadPhoto">Dodaj zdjęcie</button>
                    </div>
                }

                @foreach (var item in Model)
                {
                    <div class="col-sm-4 text-center">
                        <a href="@Url.Content(item.PhotoSrc)" data-lightbox="ag" data-title="@Url.Content(item.PhotoName)">
                            <img style="height: 220px; background-position: center; background-size: cover;
                                      background-repeat: no-repeat;" class="img-fluid mw-100 img-thumbnail" src="@Url.Content(item.PhotoSrc)" />
                        </a>

                        @using (Html.BeginForm("RemovePhoto", "Form", FormMethod.Post, new { enctype = "multipart/form-data", @class = "text-center" }))
                        {
                            <div class="modal-body">
                                <input type="hidden" name="photoId" value="@item.PhotoId" />
                                <input type="hidden" name="Id" value="@Convert.ToInt32(Request.QueryString["Id"])" />
                                <input type="submit" value="Usuń" class="btn btn-danger w-50" />
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row text-center">
            <div class="col-md-6">
                @Html.ActionLink("Wstecz", "AddVideo", "Form", new { Id = @Convert.ToInt32(Request.QueryString["Id"]) }, new { @class = "btn btn-dark p-2 m-3 w-25" })
            </div>

            <div class="col-md-6">
                @using (Html.BeginForm("Finish", "Form", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="modal-body">
                        <input type="hidden" name="Id" value="@Convert.ToInt32(Request.QueryString["Id"])" />
                        <input type="submit" value="Zakończ" class="btn btn-success p-2 w-25" />
                    </div>
                }
            </div>

        </div>
    </div>
</div>
<script src="~/Content/lightbox/js/lightbox-plus-jquery.js"></script>
<script>
    document.querySelector('.custom-file-input').addEventListener('change', function (e) {
        var fileName = document.getElementById("fileupload").files[0].name;
        var nextSibling = e.target.nextElementSibling
        nextSibling.innerText = fileName
    })
</script>